:root {
    --main-color: #0084a5;
    --uptown-color: #a50031;
}

.calendar {
    border: .1rem var(--uptown-color) solid;
    margin: 0 45% 0 45%;
    
}

.calendar p {
    text-align: center;
}

.calendar p span {
    color: var(--uptown-color);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1050px) {
    .calendar { 
        margin: 0 40% 0 40%;
    }
}
