.calendar {
    border: .1rem var(--headline-color) solid;
    margin: 0 45% 0 45%;
}

.calendar p {
    text-align: center;
}

.calendar p span {
    color: var(--headline-color);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1050px) {
    .calendar { 
        margin: 0 40% 0 40%;
    }
}
