.keyword-love-input {
    height: 500px;
    width: 500px;
    margin: 0 1% 0 30%;
}

.keyword-output {
    height: 200px;
    width: 500px;
    margin: 2% 0% 0 38%;
}


@media screen and (min-width: 1400px) {
    .keyword-love-input {
        margin: 0 1% 0 38%;
    }
  }