:root {
    --main-color: #0F9D58;
    --uptown-color: #4285F4;
    --headline-color: #F4B400;
    --red: #DB4437;
    --black: #000000;
}

body, span {
    font-family: 'Lato', sans-serif;
}

h2, h3 {
    color: black;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--headline-color);
}

p {
    text-align: center;
}

.bg-primary {
    background-color: var(--main-color);
    margin-top: -18px;
    padding: 2% 0;
}

.bg-secondary {
    background-color: var(--uptown-color);
    padding: 2% 0;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.vertical-alignment {    
    display: flex;
    flex-direction: column;
    padding: 0 43%;
}

#fourthTopKeywordClicksInput {
    margin-bottom: 10px;
}

button {
    background-color: var(--headline-color);
    color: var(--black);
    border: 2px solid var(--red);
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

#topAdCopy {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

input {
    text-align: center;
    margin: 10px 0% 0 3%;
    border: 2px solid var(--red);
    border-radius: 8px;
}

input::placeholder {
    color: var(--uptown-color);
    font-weight: bold;
    font-size: 14px;
}

input:last-child {
    margin: 0 0 10px 0;
}
